doctype html 
html 
    head 
        meta(charset='UTF-8')
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        meta
        title Natours 
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')

    body 
        h1= tour
        h2= user.toUpperCase()
        //- h1 Hello Pug2
        - const x = 2
        p= 9 * x
        p this is a text